@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter;
}

header {
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #121212;
  gap: 12px;
}
header > a {
  font-weight: bold;
}

header a {
  color: #fff;
  text-decoration: none;
}

nav ul li {
  list-style: none;
}

nav ul{
  display: flex;
  align-content: center;
  gap: 12px;
}
